Repository mailpoet/mailpoet, pull requests merged in 2023-06, with the labels that each got.

#4953 Update test to have verification of the updated message colors
  mailpoet/tests/acceptance/Forms/EditorUpdateNewFormCest.php
Labels: acceptance

#4964 Fix k6 test by updating the text to items
  mailpoet/tests/performance/tests/subscribers-trashing-restoring.js
Labels: k6 performance

#4946 Updated test TemplatesPagesLoadCest to include more checks
  mailpoet/tests/acceptance/Newsletters/TemplatesPagesLoadCest.php
Labels: acceptance

#4978 Improve the test Create Custom Field in Form
  mailpoet/tests/acceptance/Forms/EditorCreateCustomFieldCest.php
Labels: acceptance

#4973 Minor improvements to segmentation code
  mailpoet/assets/js/src/segments/dynamic/dynamic_segments_filters/email.tsx
  mailpoet/assets/js/src/segments/dynamic/dynamic_segments_filters/fields/date_fields.tsx
  mailpoet/assets/js/src/segments/dynamic/dynamic_segments_filters/fields/email/email_opens_absolute_count.tsx
  mailpoet/assets/js/src/segments/dynamic/dynamic_segments_filters/fields/email/email_statistics_clicks.tsx
  mailpoet/assets/js/src/segments/dynamic/dynamic_segments_filters/fields/email/email_statistics_opens.tsx
  mailpoet/assets/js/src/segments/dynamic/dynamic_segments_filters/fields/subscriber/custom_fields/checkbox.tsx
  mailpoet/assets/js/src/segments/dynamic/dynamic_segments_filters/fields/subscriber/custom_fields/date.tsx
  mailpoet/assets/js/src/segments/dynamic/dynamic_segments_filters/fields/subscriber/custom_fields/select.tsx
  mailpoet/assets/js/src/segments/dynamic/dynamic_segments_filters/fields/subscriber/custom_fields/text.tsx
  mailpoet/assets/js/src/segments/dynamic/dynamic_segments_filters/fields/subscriber/subscribed_via_form.tsx
  mailpoet/assets/js/src/segments/dynamic/dynamic_segments_filters/fields/subscriber/subscriber_mailpoet_custom_field.tsx
  mailpoet/assets/js/src/segments/dynamic/dynamic_segments_filters/fields/subscriber/subscriber_score.tsx
  mailpoet/assets/js/src/segments/dynamic/dynamic_segments_filters/fields/subscriber/subscriber_subscribed_to_list.tsx
  mailpoet/assets/js/src/segments/dynamic/dynamic_segments_filters/fields/subscriber/subscriber_tag.tsx
  mailpoet/assets/js/src/segments/dynamic/dynamic_segments_filters/fields/subscriber/subscriber_text_field.tsx
  mailpoet/assets/js/src/segments/dynamic/dynamic_segments_filters/fields/subscriber/subscriber_wordpress_role.tsx
  mailpoet/assets/js/src/segments/dynamic/dynamic_segments_filters/fields/woocommerce/average_spent.tsx
  mailpoet/assets/js/src/segments/dynamic/dynamic_segments_filters/fields/woocommerce/customer_in_country.tsx
  mailpoet/assets/js/src/segments/dynamic/dynamic_segments_filters/fields/woocommerce/number_of_orders.tsx
  mailpoet/assets/js/src/segments/dynamic/dynamic_segments_filters/fields/woocommerce/purchased_category.tsx
  mailpoet/assets/js/src/segments/dynamic/dynamic_segments_filters/fields/woocommerce/purchased_product.tsx
  mailpoet/assets/js/src/segments/dynamic/dynamic_segments_filters/fields/woocommerce/single_order_value.tsx
  mailpoet/assets/js/src/segments/dynamic/dynamic_segments_filters/fields/woocommerce/total_spent.tsx
  mailpoet/assets/js/src/segments/dynamic/dynamic_segments_filters/fields/woocommerce/used_payment_method.tsx
  mailpoet/assets/js/src/segments/dynamic/dynamic_segments_filters/fields/woocommerce/woocommerce_membership.tsx
  mailpoet/assets/js/src/segments/dynamic/dynamic_segments_filters/fields/woocommerce/woocommerce_subscription.tsx
  mailpoet/assets/js/src/segments/dynamic/dynamic_segments_filters/subscriber.tsx
  mailpoet/assets/js/src/segments/dynamic/dynamic_segments_filters/subscriber_options.ts
  mailpoet/assets/js/src/segments/dynamic/dynamic_segments_filters/woocommerce.tsx
  mailpoet/assets/js/src/segments/dynamic/form_filter_fields.tsx
  mailpoet/assets/js/src/segments/dynamic/store/all_available_filters.ts
  mailpoet/assets/js/src/segments/dynamic/types.ts
  mailpoet/assets/js/src/segments/dynamic/validator.ts
  mailpoet/eslint.config.js
Labels: priority in QA

#5012 Update k6 to 45.0 and reorder tests in scenarios
  mailpoet/tests/performance/scenarios.js
  mailpoet/tools/k6.php
Labels: k6 performance

#5020 Fix Redirecting to MailPoet Homepage after activating other plugins - MAILPOET-5417
  mailpoet/lib/Config/Initializer.php
Labels: priority in QA
