Repository mailpoet/mailpoet, pull requests merged in 2023-08, with the labels that each got.

#5110 Remove waiting for navigation from the k6 test forms adding
  mailpoet/tests/performance/tests/forms-adding.js
Labels: k6 performance

#5117 Add new acceptance test to cover past issue activating MailPoet redirect to WooCommerce
  mailpoet/tests/acceptance/Homepage/HomepageLandingAfterActivatingMailPoetCest.php
Labels: acceptance

#5121 Use WP filter default rather than explicitly checking for "isPremiumActive" [MAILPOET-5545]
  mailpoet/assets/js/src/subscribers/stats/opened_email_stats.tsx
Labels: twin

#5129 Add new acceptance test scenario covering MailPoet form in Gutenberg block
  mailpoet/tests/acceptance/Forms/GutenbergFormBlockCest.php
Labels: acceptance

#5130 Fix flakiness in test scenario when deleting segment from trash
  mailpoet/tests/acceptance/Segments/ManageSegmentsCest.php
Labels: acceptance
