Repository mailpoet/mailpoet, pull requests merged in 2023-07, with the labels that each got.

#5032 Update tests to include await and update helper method
  mailpoet/tests/performance/tests/forms-adding.js
  mailpoet/tests/performance/tests/lists-complex-segment.js
  mailpoet/tests/performance/tests/newsletter-sending.js
  mailpoet/tests/performance/tests/subscribers-adding.js
  mailpoet/tests/performance/tests/subscribers-trashing-restoring.js
  mailpoet/tests/performance/utils/helpers.js
Labels: k6 performance

#5017 Improve the test SettingsArchivePageCest to properly test the archive shortcode
  mailpoet/tests/acceptance/Settings/SettingsArchivePageCest.php
Labels: acceptance

#5036 Improved the test for segment newsletter stats
  mailpoet/tests/acceptance/Segments/CreateSegmentEmailAbsoluteCountCest.php
Labels: acceptance

#5029 Improve the test subscribers count shortcode
  mailpoet/tests/acceptance/Settings/SubscriberCountShortcodeCest.php
Labels: acceptance

#5048 Improve the test WooCommerce Subscriptions segment
  mailpoet/tests/acceptance/Segments/WooCommerceSubscriptionsSegmentCest.php
Labels: acceptance

#5051 Add support default value for subscriber's custom fields shortcode [MAILPOET-5463]
  mailpoet/lib/Newsletter/Shortcodes/Categories/Subscriber.php
  mailpoet/tests/integration/Newsletter/ShortcodesTest.php
Labels: priority in QA

#5056 Improve the test switching language
  mailpoet/tests/acceptance/Misc/SwitchingLanguagesCest.php
Labels: acceptance

#5066 Improve ManageSubscribers test and update SubscribersListing
  mailpoet/tests/acceptance/Subscribers/ManageSubscribersCest.php
  mailpoet/tests/acceptance/Subscribers/SubscribersListingCest.php
Labels: acceptance

#5070 Update selector and titles in checks
  mailpoet/tests/performance/tests/forms-adding.js
  mailpoet/tests/performance/tests/lists-complex-segment.js
  mailpoet/tests/performance/tests/lists-view-subscribers.js
  mailpoet/tests/performance/tests/newsletter-listing.js
  mailpoet/tests/performance/tests/newsletter-searching.js
  mailpoet/tests/performance/tests/newsletter-sending.js
  mailpoet/tests/performance/tests/newsletter-statistics.js
  mailpoet/tests/performance/tests/onboarding-wizard.js
  mailpoet/tests/performance/tests/settings-basic.js
  mailpoet/tests/performance/tests/subscribers-adding.js
  mailpoet/tests/performance/tests/subscribers-filtering.js
  mailpoet/tests/performance/tests/subscribers-listing.js
  mailpoet/tests/performance/tests/subscribers-trashing-restoring.js
Labels: k6 performance

#5075 Slightly improved test for verifying menu items
  mailpoet/tests/acceptance/Misc/MailpoetMenuCest.php
Labels: acceptance

#5076 Improve the test Manage Subscription Link and add new scenario
  mailpoet/tests/_support/AcceptanceTester.php
  mailpoet/tests/acceptance/Settings/BasicsPageCest.php
  mailpoet/tests/acceptance/Subscribers/ManageSubscriptionLinkCest.php
Labels: acceptance
