Repository mailpoet/mailpoet, pull requests merged in 2024-04, with the labels that each got.

#5527 Fix flaky performance test automation trigger workflow
  mailpoet/tests/performance/tests/automation-trigger-workflow.js
Labels: k6 performance

#5533 Fix checking whether an email should contain an abandoned cart block [MAILPOET-5999]
  mailpoet/lib/Newsletter/Renderer/Blocks/AbandonedCartContent.php
Labels: priority in QA

#5534 Fix loading order in customer payload for guest users [MAILPOET-6000]
  mailpoet/lib/Automation/Integrations/WooCommerce/Subjects/CustomerSubject.php
Labels: priority in QA

#5529 Add new k6 performance test for re-engagement email
  mailpoet/tests/performance/scenarios.js
  mailpoet/tests/performance/tests/newsletter-reengagement.js
Labels: k6 performance

#5540 Refactor re engagement test with waitAndType
  mailpoet/tests/performance/tests/newsletter-reengagement.js
Labels: k6 performance

#5542 Add new k6 test and update existing
  mailpoet/tests/performance/scenarios.js
  mailpoet/tests/performance/tests/segments-create-custom.js
  mailpoet/tests/performance/tests/segments-select-template.js
Labels: k6 performance

#5543 Add new k6 performance test forms subscribing
  mailpoet/tests/performance/scenarios.js
  mailpoet/tests/performance/tests/forms-subscribing.js
Labels: k6 performance

#5558 Revert testing against latest WooCommerce
  .circleci/config.yml
  mailpoet/tests/docker/codeception/docker-entrypoint.sh
Labels: acceptance

#5559 Fix acceptance test ManageWooCommerceSegmentsCest
  mailpoet/tests/acceptance/Segments/ManageWooCommerceSegmentsCest.php
Labels: acceptance

#5557 Fix acceptance test in the new email editor createAndSendStandardNewsletter
  mailpoet/tests/acceptance/EmailEditor/CreateAndSendEmailUsingGutenbergCest.php
Labels: acceptance

#5569 Fix acceptance test itCanCreateMailPoetCampaigns
  mailpoet/tests/acceptance/WooCommerce/MPMarketingChannelCest.php
Labels: acceptance
