Repository mailpoet/mailpoet, pull requests merged in 2024-11, with the labels that each got.

#5918 Improve email reactivation performance [MAILPOET-6310]
  mailpoet/lib/API/JSON/v1/Newsletters.php
  mailpoet/lib/Entities/NewsletterEntity.php
  mailpoet/tests/integration/API/JSON/v1/NewslettersTest.php
Labels: priority in QA

#5927 Update WordPress and plugins in CI jobs
  .circleci/config.yml
Labels: automated, check-versions

#5933 Fix flaky ClickTest [MAILPOET-6322]
  mailpoet/tests/integration/Statistics/Track/ClicksTest.php
Labels: integration

#5945 Update k6 login helper with waiting for page to load before navigating further
  mailpoet/tests/performance/utils/helpers.js
Labels: performance

#5950 Show BFCM sale info in WP.org description [MAILPOET-6283]
  mailpoet/readme.txt
Labels: priority in QA

#5928 Improve StatsPageCest acceptance test to include additional checks
  mailpoet/tests/acceptance/Newsletters/StatsPageCest.php
Labels: acceptance

#5956 Move k6 test settings basic to the top of the nightly tests
  mailpoet/tests/performance/scenarios.js
Labels: performance

#5958 Move k6 browser timeout to environment variable
  mailpoet/RoboFile.php
Labels: performance

#5951 Updated required and tested up to WordPress and WooCommerce versions [MAILPOET-6345]
  mailpoet/mailpoet.php
  mailpoet/readme.txt
Labels: twin

#5961 Increase timeout to the first k6 test settings basic
  mailpoet/tests/performance/tests/settings-basic.js
Labels: performance
